
Binder/bin/Release/Binder_Secure/Binder.exe
Binder/bin/Release/Binder_Secure/Binder.pdb
Binder/obj/Release/App.baml
Binder/obj/Release/Windows/HelpWindow.baml
Binder/obj/Release/MainWindow.baml
Binder/obj/Release/Windows/SettingsWindow.baml
Binder/obj/Release/Windows/RecordWindow.baml
Binder/bin/Release/Binder_Secure/Binder.pdb
Binder/bin/Release/Binder_Secure/Binder.exe
